* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0; 
    position: relative;
    text-align: center; /* Ensures the text within child elements is centered */
    background: transparent;
    overflow-x: hidden; 
}

div,p {
    background: transparent; 
    margin: 0; 
    padding: 0; 
}

img {
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: inherit; 

}

a:hover {
    cursor: pointer; 
    color: purple; 
}

#topBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 10000; 
    font-size: 1em; 
    border: none; 
    outline: none; 
    background-color:#686de0;
    padding: 20px; 
    cursor: pointer; 
    border-radius: 50%;
    border-color: white;
}

#topBtn:hover {
    background-color: #7ed6df;
}

#wrapper {
    z-index: 100;
    background: transparent; 
}

#about-section {
    padding-top: 5%;
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}


#particles-js {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    background:#FAF9F6; 
    background: linear-gradient(45deg, #FAF9F6, #ffffff 75%);
    /* overflow: hidden; */
    background-size: cover; 
    background-position: 50% 50%;
    background-repeat: no-repeat; 
    /* use to make background non interactive */
    z-index: -10; 
    /* z-index: -10;
    top: 0;
    left: 0 */
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

.resize {
    margin-top: 15%;
    width: 300px; 
    height: auto; 
    bottom: 50px; 
}

.container { 
    display: inline-flex;
    vertical-align: middle;
}

.typer {
    font-size: 2em; 
    letter-spacing: 10px;
    font-family: -apple-system, Courier,  Monaco, monospace; 
    font-weight: 500;
    border-right: 5px solid; 
    padding-top: 0; 
    padding-bottom: 0;
    margin-top: 0; 
    margin-bottom: 0; 
    width: 100%; 
    white-space: nowrap;
    overflow: hidden; 
    animation:
        typing 2s steps(15), /*remove for smoother animation, indicate character num steps*/
        cursor .4s step-end infinite alternate;
}

.fade-intro {
    animation: fade-in 1s ease 3s backwards;
}

.nav {
    list-style-type: none;
    text-align: center; 
    margin: 0; 
    padding: 0; 
    font-size:1em; 
    font-weight: 100; 
    font-family: -apple-system, calibri, sans-serif;
    white-space: nowrap;
}

.nav li{
    display: inline-block; 
    cursor: default; 
    padding: 0.5em; 
}

ul {
    list-style: none;
}

ul li {
    display: inline-block; 
    position: relative; 
}

ul li a{
    display: block; 
    padding: 20px 25px; 
    text-decoration: none; 
    text-align: center;
}

ul li ul.dropdown li {
    display: block; 
}

ul li ul.dropdown {
    width: 100%; 
    position: absolute; 
    z-index: 999; 
    display: none; 
}

ul li:hover ul.dropdown {
    display: block; 
}


.dropdown {
    display: inline-block; 
    position: relative; 
}

.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
  }
  
.dropdown:hover .dropdown-options {
    display: block;
    background-color: antiquewhite;
}

.about {
    margin-top: 35%; 
    display: flex; 
    flex-direction: column;
    width: 100%; 
    padding-top: -4px; 
}


.curved-div {
    height: 100%; 
    background: rgba(235, 77, 75, 0.8);
    color: #fff;
    text-align: center;
    z-index: 200;
    position: relative;
    margin: 0; 
    padding: 0; 
    display: block; 
  }
  .curved-div h1 {
    padding: 0; 
    margin: 0; 
    font-size: 4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .curved-div p {
    display: block; 
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #curved-div svg {
    width: 100%; 
    height: 100%; 
    display: block; 
    padding: 0; 
    margin: 0; 
  }

.about-info {
    display: flex;
    justify-content: center;
    margin: 0; 
    padding: 0; 
    width: 100%; 
}

.wrap {
    display: flex; 
    flex-flow: row wrap;
    text-align: center;
  }
  
  .wrap > * {
    padding: 8px; 
    margin: 8px; 
    flex: 1 100%;
  }

.left-div {
    padding-left: 10px; 
    padding-right: 10px; 
    padding-bottom: 0px;
    padding-top: 20px; 
}

.right-div {
    padding: 20px;
    padding-bottom: 0px;        
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow-y:hidden; 
}

.right-div a{
    color: blue; 
}

.right-div a:hover{
    color: green; 
}

.right-div h1 {
    padding: 0; 
    margin: 0; 
    text-align: center;
    font-size: 2.5rem;
}


.section__paragraph {
    transform: translateY(20px);
    opacity: 0; 
    transition: 1s ease; 
}

.section__paragraph--visible {
    transform: translateY(0);
    opacity: 1; 
}

.custom-shape-divider-top-1721755902 {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1721755902 svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 200px;
}

.custom-shape-divider-top-1721755902 .shape-fill {
    fill: #686DE0;
}

.custom-shape-divider-bottom-1721755954 {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1721755954 svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 200px;
}

.custom-shape-divider-bottom-1721755954 .shape-fill {
    fill: #686DE0;
}

.projects {
    margin-top: 90%; 
    width: 100%;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* flex; */
}

.projects h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.block {
    width: 100%;
    height: 50vh;
    padding: 0; 
}

.dot {
    position: relative;
    left: 50%;
    top: 50%;
    width:250vmax;
    height: 250vmax;
    border-radius: 50%;
    background-color: #686de0;
    overflow: hidden;
    padding: 0; 
    margin: 0; 
    overflow-x: hidden; 
}

.collapsible {
    /* background-color: #777; */
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border-radius: 12px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 10px; 
}

/* .collapsible:nth-child(1){
    background-color: #eb4d4b;
} */
.collapsible:nth-child(2){
    background-color: #eb4d4b;
}
.collapsible:nth-child(4){
    background-color: #e056fd;
}

.collapsible:nth-child(6){
    background-color: #f9ca24;
}

.collapsible:nth-child(8){
    background-color: #badc58;
} 

.collapsible:nth-child(10){
    background-color: #7ed6df;
}

.active, .collapsible:hover {
    background-color: #777;
}

.content {
    padding: 0 18px;
    width: 50%; 
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 12px;
}

#projects-info {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    /* padding-top: -4px; */
    /* background-color: #686DE0;  */
}

#slider {
    position: center;
    left: 10%;
    padding-top: 6%; 
    width: 80%;
    margin: auto; 
    max-width: 100%;
    width: 32vw; /* Set the width to match the height */
    height: 32vw; /* Maintain the same height */
    transform-style: preserve-3d;
    font-family: "Helvetica Neue", sans-serif;
    border-radius: 50%;
    perspective: 1400px;
}

input[type="radio"] {
    position: relative;
    display: inline-flex;
    top: 108%; 
    left: 15%; 
    width: 18px;
    height: 18px; 
    margin: 0 15px 0 0; 
    transform: translateX(-83px);
    cursor: pointer; 
    opacity: 0; 
    accent-color: #eb4d4b;
}

input[type="radio"]:nth-child(5){
    margin-right: 0px;
}

input[type="radio"]:checked {
    opacity: 0;
}

#slider label, 
#slider label img {
    display: flex; 
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border-radius: 50%; 
    border-style: solid; 
    border-color: #ffffff;
    color: white;
    object-fit: cover;
    cursor: pointer; 
    transition: transform 400ms ease; 
}


/* Active Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide1 {
    transform: translate3d(20%, 0, -100px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
}

/* Previous Slide */
#s1:checked ~ #slide3,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2 {
    transform: translate3d(-20%, 0, -100px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
}
  
@keyframes cursor {
    50% { border-color: transparent}
}

@keyframes typing {
    from { width: 0}
}

@keyframes fade-down {
   0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9); 
   } 

   100% {
    opacity: 1;
    transform: translateY(0px) scale(1); 
   }
}

@keyframes fade-in {
    0% {
     opacity: 0;
    } 
 
    100% {
     opacity: 1;
    }
 }

 @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

 @media all and (min-width: 1000px) {
    .side{
        flex: 1; 
    }
    .right-div h1 {
        padding: 0; 
        margin: 0; 
        text-align: left;
        font-size: 3rem;
      }

    .curved-div p {
        display: block; 
        line-height: 2rem;
        font-size: 1.5rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

    .typer {
        font-size: 5em; 
    }
    .nav {
        font-size:2em; 
    }

    .nav li{
        display: inline-block; 
        cursor: default; 
        /* padding: 1em;  */
    }
 }

 @media only screen and (max-width: 450px){
    .typer {
        font-size: 15px;
    }

    .nav {
        font-size:8px; 
    }

    .nav li{
        display: inline-block; 
        cursor: default; 
        padding: 5px; 
    }

    .resize {
        margin-top: 15%;
        width: 100px; 
        height: auto; 
        bottom: 70px; 
    }

    /* animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px; */
 }

